body {
    font-family: 'Rubik', sans-serif;
    background-color: #f5f5f5;
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
}

button {
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(196, 121, 9);
}

p#name {
    font-weight: bold;
}

p#noresults{
    margin-top: 16px;
}

.jumbotron {
    background: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(244, 142, 33, 0.45)
    ), url("../images/nashville-skyline.jpg");
    background-color: orange;
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 0;
    color: white;
    text-align: center;
}

h1#title {
    font-family: 'Yellowtail', cursive;
    font-size: 8vw;
    text-shadow:5px 5px 10px rgb(48, 48, 48);
}

div.searchContainer.container, div.itineraryContainer.container {
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(215, 215, 215);
    text-align: center;
    margin-bottom: 30px;
}

div.resultsContainer.container {
    background-color: none;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
}

div.card-header {
    width: 100%;
    background-color: #e8e8e8;
}

.search-field {
    display: block;
}

.fa-search {
    color: orange;
}

.fa-search:hover {
    cursor: pointer;
    color: rgb(196, 121, 9);
}

#parks-dropdown-box, option {
    margin: 10px;
    width: 200px;
    padding: 1px; 
    height: 31.59px;
    border: 2px solid #f5f5f5;
    color: rgb(130, 130, 130);
}

input {
    margin: 10px;
    padding: 2px;
    width: 200px;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    color: rgb(130, 130, 130);
}

input::placeholder {
    color: rgb(130, 130, 130);
}

li {
    margin: 10px;
    min-width: 200px;
    min-height: 150px;
}

.itinerary {
    text-align: left;
}